

body {
    background-color:rgb(142, 202, 207);
    background-image: url("images/background.jpg");
    background-size: cover;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

main {
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#firstCatDiv {
    display: none;
}

#secondCatDiv {
    display: none;
}


hover-container {
    position: relative;
    display: inline-block;
}

.hover-image {
    display: block;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}
.hovercontainer:hover .hover-text {
    opacity: 1;
}